{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">

    </head>
    <body>
        {% block content %}{% endblock content %}

        <script src="{% static 'js/runtime.js' %}"></script>
        <script src="{% static 'js/vendors.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
